.navbar {
    height: 100px;
    position: relative;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between; // Adjusted justify-content property
        padding: 0 30px; // Added padding to create space from the edges
        height: 100%;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 30px;
                height: 30px;
            }
            img:hover{
                scale: 1.1;
            }
        }
    }
}
